.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: bisque;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 3px;

}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.a{
    width: 90px;
    height:30px;
    outline: none;
    border: 1px solid grey;
    border-radius: 75px;
    color: grey;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.cartimg{
    height: 32px;
    width: 32px;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}
.search-box{
    width: 310px;
    background:#fff;
    border-radius: 5px;
    height: 25px;
}
.row{
    display: flex;
    align-items: center;
}
.b{
    flex: 1;
    height: 23px;
    background: transparent;
    border-color: #c0bdc5;
   border-radius: 30px;
    font-size: 18px;
    color: #797878;
}
.icon-search{
    color: rgb(107, 107, 107);
    font-size: 20px;
}
