.footer{
   
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(42, 39, 39);
    align-items: center;
    gap: 50px;
    color: white;
}


.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    border: 1px soild #ebebeb;
}

